=form_for([@audit.project, @audit]) do |f|
    -if @audit.errors.any?
        #error_explanation
            %h2
                =pluralize(@project.errors.count, "error")
                prohibited this project from being saved:
            %ul
                -@project.errors.full_messages.each do |msg|
                    %li= msg
        
    .actions
        =f.submit "Audit my project"