=subscribe_to "/projects/#{@project.id}"    
:javascript
    var project = new ProjectApplication.Project(#{project_json(@project)})

-if @project.audited?
    :javascript
        project.audit = new ProjectApplication.Audit(#{audit_json(@project.last_audit)})
        project.gems = new ProjectApplication.GemsCollection(#{audit_gems_json(@project.last_audit)})
    
:javascript    
    var projectApp =  new ProjectApplication(project)