-if @project.audited?
    -audit = @project.last_audit
    =subscribe_to "/audits/#{audit.id}"
    :javascript
        // Setup the project and audit
        var project = new ProjectApplication.Project(#{project_json(@project)})
        project.setAudit(new ProjectApplication.Audit(project, #{audit_json(audit)}))
        var projectApp = new ProjectApplication(project)
        
-else