// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'variables';

$project_bar_height: 40px;

#project_bar {
    overflow:hidden;
    padding:10px 0px 0px 0px;
    
    h2, .options {
        margin:0px;
        line-height:$project_bar_height;
        height:$project_bar_height;
        vertical-align:middle;
    }
    .options {
        float:right;
    }
    .tabs {
        border:solid $border_color;
        border-width:1px;
        margin-top:20px;
        overflow:hidden;
        
        a {
            text-decoration:none;
            padding:5px 0px;
            background:$dark_color;
            color:$light_color;
            float:left;
            width:150px;
            text-align:center;
            position:relative;
            margin-right:1px;
            
            &.selected {
                color:$dark_color;
                background:$darker_background_color;
            }
            
            &:last-child.selected {
                border-right:1px solid $dark_color;
            }
        }
        
    }
}

#project {
    padding:10px 10px;
    
    #configuration {
        #gems {
            table {
                border-collapse:collapse;
            }
            th, td {
                padding:10px 50px 10px 0px;
                min-width:110px;
            }
            th {
                border-bottom:1px solid #ccc;
                font-weight:normal;
                text-align:left;
            }
            td {
                border:solid #eee;
                border-width:1px 0px;
            }
        }
    }
    
}