!!!
%html
    %head
        %title Rails Auditor
        =stylesheet_link_tag    "application", :media => "all"
        =javascript_include_tag "application"
        =csrf_meta_tags
    
    %body
        %header
            .container
                .profile
                    =image_tag "http://www.gravatar.com/avatar/955103d80e386882143a78875fb727bf.png?s=30", class: 'gravatar'
                    iHiD
                .settings
                
                .logo
                    Rails Auditor
                
        #header_border
        .container
            -if notice
                %p.notice= notice
            -if alert
                %p.alert= alert

            =content_for?(:content) ? yield(:content) : yield