=content_for :content do
    .project_bar
        .options
            =link_to "edit", edit_project_path(@project)
        %h2
            Project: #{@project.name}
        .github_repository= @project.github_repository
        .github_branch= @project.github_branch
    =yield
    
=render :template => 'layouts/application'